<div class="container">
  <div class="row">
    <div class="col">
      <h2 id="room" data-room="<%=@room.id%>" data-user="<%=current_user.id%>">
        <%=@user.name%>さんとのチャット
      </h2>

      <div class="message" style="width:400px;">
        <%@messages.each do |message|%>
          <%if message.user_id==current_user.id%>
            <p style="text-align:right;"><%=message.content%></p>
          <%else%>
            <p style="text-align:left;"><%=message.content%></p>
          <%end%>
        <%end%>
      </div>

      <div class="errors">
        <%=render"layouts/errors",obj:@message%>
      </div>

      <div class="messages-form">
        <%=form_with model:@message,data: {remote:true} do |f|%>
          <%=f.text_field :content%>
          <%=f.hidden_field :room_id%>
        <%end%>
      </div>

    </div>
  </div>
</div>