
        <div id="star-rate<%=book.id%>"></div>
            <script>
            $(document).on("turbolinks:load",function(){
              $("#star-rate<%=book.id%>").empty();
              $("#star-rate<%=book.id%>").raty({
                size :5,
                starOff:"<%=asset_path("star-off.png")%>",
                starOn:"<%=asset_path("star-on.png")%>",
                half:false,
                readOnly:true,
                score:<%=book.star%>
              });
            });
            </script>